@import 'variables';
@import 'mixins';

section.story {
    padding: 15.2rem 0;

    display: flex;
    align-items: center;

    & > .story-container {
        display: flex;
        justify-content: space-between;

        & > .container-left {
            & > .content-container {
                width: 59.9rem;

                &  > .title {
                    margin: unset;

                    & > h3 {
                        transform: translateY(1rem);
                        opacity: 0;

                        transition: all 0.25s linear;

                        &.active {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }

                    & > .line {
                        margin: unset;
                        margin-top: 2.2rem;

                        transform: scaleX(0);
                        transform-origin: left center;

                        transition: all 0.25s linear;

                        &.active {
                            transform: scaleX(1);
                        }
                    }
                }

                & > p.description {
                    margin-top: 3.4rem;

                    @include description(1.9rem, $gray);

                    opacity: 0;

                    transform: translateY(1.5rem);

                    transition: all 0.25s linear;

                    &.active {
                        transform: translateY(0);

                        opacity: 1;
                    }
                }

                & > ul.awards {
                    margin-top: 2.2rem;
                    margin-left: 4.5rem;

                    display: flex;
                    flex-direction: column;
                    row-gap: 3.5rem;

                    & > li {
                        display: flex;
                        column-gap: 4.8rem;
                        align-items: center;

                        opacity: 0;

                        transform: translateY(1.5rem);

                        transition: all 0.25s linear;

                        &.active {
                            opacity: 1;

                            transform: translateY(0);
                        }

                        & > .container-left {
                            width: 6.5rem;
                            min-width: 6.5rem;
                            height: 6.5rem;
    
                            background-color: $white;

                            border: 1px solid $light_yellow;
    
                            display: grid;
                            place-content: center;

                            transition: all 0.5s ease-in;
                            & > p {
                                @include font-cardo(3rem);
                                font-weight: 700;
                                line-height: 52px;
                                color: $primary_blue_color;
                            }
                        }

                        & > .container-right {
                            & > h4.title-award {
                                @include font-cardo(2.4rem);
                                line-height: 5.2rem;
                                font-weight: 700;
                                color: $primary_blue_color;

                                margin-bottom: 0.1rem;
                            }

                            & > p {
                                @include description(1.9rem, $gray);
                            }
                        }
                    }

                    & > li.line > .container-left {
                        position: relative;
                    }


                    & > li.line > .container-left:before {
                        content: '';
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translateX(-50%) scaleY(0);

                        height: 8.9rem;
                        width: 0;

                        border: 1px dashed black;

                        opacity: 0;

                        transition: all 0.5s linear;

                        transform-origin: center top;
                    }

                    & > li.line.active > .container-left:before {
                        opacity: 1;

                        transform: translateX(-50%) scaleY(1);
                    }

                    & > li.active > .container-left {
                        background-color: $light_yellow;
                    }

                }
            }
        }

        & > .container-right {
            height: 65rem;

            width: 60rem;

            & > img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    section.story > .story-container {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 4rem;
    }
}

@media only screen and (max-width: 685px) {
    section.story > .story-container > .container-left > .content-container {
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    section.story > .story-container > .container-right {
        width: 100%;

        height: auto;

        & > img {
            object-fit: contain;
        }
    }
}

@media only screen and (max-width: 618px) {
    section.story > .story-container > .container-left > .content-container {
        & > ul.awards > li.line > .container-left:before {
            height: 14rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    section.story > .story-container > .container-left > .content-container {
        & > ul.awards > li.line > .container-left:before {
            display: none;
        }
    }
}