<section class="story">
    <div class="story-container container">
        <div class="container-left">
            <div class="content-container">
                <div #title_element class="title">
                    <h3>My Story</h3>
                    <div class="line"></div>
                </div>
                <p #description_element class="description">Making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures.</p>
                <ul #awards_element class="awards">
                    <li class="line">
                        <div class="container-left">
                            <p>01</p>
                        </div>
                        <div class="container-right">
                            <h4 class="title-award">Great Author Awards - 1996 & 2000</h4>
                            <p>How to navigate around the interface and toggle on/off the panels you wish to use.</p>
                        </div>
                    </li>
                    <li class="line">
                        <div class="container-left">
                            <p>02</p>
                        </div>
                        <div class="container-right">
                            <h4 class="title-award">Great Author Awards - 1996 & 2000</h4>
                            <p>How to navigate around the interface and toggle on/off the panels you wish to use.</p>
                        </div>
                    </li>
                    <li>
                        <div class="container-left">
                            <p>03</p>
                        </div>
                        <div class="container-right">
                            <h4 class="title-award">Great Author Awards - 1996 & 2000</h4>
                            <p>How to navigate around the interface and toggle on/off the panels you wish to use.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div #image_element class="container-right">
            <img src="assets/img/story.png" alt="story image">
        </div>
    </div>
</section>