<section class="chapter-includes">
    <div class="chapter-includes-container container">
        <div #title_chapter_element class="title">
            <h3>The Chapter Includes</h3>
            <div class="line"></div>
        </div>
        <ul #chapter_list_element class="chapter-list">
            <li>
                <h4 class="title-chapter">Chapter- 01   Get Started Intro</h4>
                <p class="description-chapter">Making this the first true value generator on the Internet. It of over 200 Latin words, combined with a handful.</p>
                <div class="parameter-chapter">
                    <div class="pages">
                        <div class="circle"></div>
                        <h5>Pages :&nbsp;</h5>
                        <p>85 pages</p>
                    </div>
                    <div class="length">
                        <div class="circle"></div>
                        <h5>Length :&nbsp;</h5>
                        <p>1 Hour 15 mins</p>
                    </div>
                </div>
            </li>
            <li>
                <h4 class="title-chapter">Chapter- 02   Create a Massive Content</h4>
                <p class="description-chapter">Making this the first true value generator on the Internet. It of over 200 Latin words, combined with a handful.</p>
                <div class="parameter-chapter">
                    <div class="pages">
                        <div class="circle"></div>
                        <h5>Pages :&nbsp;</h5>
                        <p>85 pages</p>
                    </div>
                    <div class="length">
                        <div class="circle"></div>
                        <h5>Length :&nbsp;</h5>
                        <p>1 Hour 15 mins</p>
                    </div>
                </div>
            </li>
            <li>
                <h4 class="title-chapter">Chapter- 03   Maintaining the Creative Arcs</h4>
                <p class="description-chapter">Making this the first true value generator on the Internet. It of over 200 Latin words, combined with a handful.</p>
                <div class="parameter-chapter">
                    <div class="pages">
                        <div class="circle"></div>
                        <h5>Pages :&nbsp;</h5>
                        <p>85 pages</p>
                    </div>
                    <div class="length">
                        <div class="circle"></div>
                        <h5>Length :&nbsp;</h5>
                        <p>1 Hour 15 mins</p>
                    </div>
                </div>
            </li>
            <li>
                <h4 class="title-chapter">Chapter- 04   The Conclusion</h4>
                <p class="description-chapter">Making this the first true value generator on the Internet. It of over 200 Latin words, combined with a handful.</p>
                <div class="parameter-chapter">
                    <div class="pages">
                        <div class="circle"></div>
                        <h5>Pages :&nbsp;</h5>
                        <p>85 pages</p>
                    </div>
                    <div class="length">
                        <div class="circle"></div>
                        <h5>Length :&nbsp;</h5>
                        <p>1 Hour 15 mins</p>
                    </div>
                </div>
            </li>
        </ul>
        <button #button_free_trail_element class="free-trail-btn">
            Start a 15-Days Free Trail
        </button>
        <div #question_element class="question">
            <p>Short description about each chapter <span>Have any questions?</span> Contact us</p>
        </div>
    </div>
</section>