<header>
    <div class="container">
        <app-topnav></app-topnav>
        <div class="content-page-container">
            <div #title_element class="title">
                <h3>{{titlePage}}</h3>
                <div class="line"></div>
            </div>
            <p #description_element class="description">{{descriptionPage}}</p>
        </div>
    </div>
</header>
<app-cart-popup (e_close_popup)="clickEventCloseCartPopup()" *ngIf="isShowCartPopup"></app-cart-popup>
<app-login (e_close_popup)="clickEventCloseLoginPopup()" *ngIf="isShowLoginPopup"></app-login>