<section class="what-learn">
    <div class="what-learn-container">
        <div class="title">
            <h3>What will you learn?</h3>
            <div class="line"></div>
        </div>
        <div class="information-about-learner">
            <div class="container-left">
                <ul class="list-item-can-learn">
                    <li>
                        <div class="icon">01</div>
                        <p class="description">Use HDFS & Map Reduce for storing & analyzing data at scale.</p>
                    </li>
                    <li>
                        <div class="icon">02</div>
                        <p class="description">Consume streaming data using Spark Streaming, Flink, and Storm.</p>
                    </li>
                    <li>
                        <div class="icon">03</div>
                        <p class="description">Choose an appropriate data storage technology for your application</p>
                    </li>
                    <li>
                        <div class="icon">04</div>
                        <p class="description">Analyze non-relational data using HBase, Cassandra, and MongoDB.</p>
                    </li>
                </ul>
            </div>
            <div class="container-right">
                <img src="assets/img/learner.png" alt="">
            </div>
        </div>
    </div>
</section>