<section class="what-reader-say">
    <div class="what-reader-say-container container">
        <div class="container-left">
            <div class="container-child">
                <div class="title">
                    <h3>What Readers Say About the Book</h3>
                    <div class="line"></div>
                </div>
                <p class="description">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators.</p>
                <div class="ratings">
                    <ul class="list-star">
                        <li class="circle"></li>
                        <li class="circle"></li>
                        <li class="circle"></li>
                        <li class="circle"></li>
                        <li class="half-circle">
                            <div class="background-yellow"></div>
                        </li>
                        <li class="averate">
                            (4.8/5)
                        </li>
                    </ul>
                    <p>Overall Customer Ratings</p>
                </div>
            </div>
        </div>
        <div class="container-right">
            <div class="cards-left">
                <div class="card">
                    <div class="name-and-avatar">
                        <div class="avatar">
                            <img src="assets/img/avatar1.png" alt="">
                        </div>
                        <div class="name-and-ratings">
                            <p>Martin Philips</p>
                            <ul class="ratings">
                                <li class="circle"></li>
                                <li class="circle"></li>
                                <li class="circle"></li>
                                <li class="circle"></li>
                                <li class="half-circle">
                                    <div class="background-yellow"></div>
                                </li>
                            </ul>
                        </div>s
                    </div>
                    <p class="special-description">“ Awesome Impact ”</p>
                    <p class="normal-description">All the Lorem Ipsum generators on the Internet tend to repeat willings predefined chunks value.</p>
                </div>
                <div class="card">
                    <div class="name-and-avatar">
                        <div class="avatar">
                            <img src="assets/img/avatar2.png" alt="">
                        </div>
                        <div class="name-and-ratings">
                            <p>James Anderson</p>
                            <ul class="ratings">
                                <li class="circle"></li>
                                <li class="circle"></li>
                                <li class="circle"></li>
                                <li class="circle"></li>
                                <li class="half-circle">
                                    <div class="background-yellow"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="special-description">“ Mind Blowing Words ”</p>
                    <p class="normal-description">All the Lorem Ipsum generators on the Internet tend to repeat willings predefined chunks value.</p>
                </div>
            </div>
            <div class="card-right">
                <div class="card">
                    <div class="name-and-avatar">
                        <div class="avatar">
                            <img src="assets/img/avatar3.png" alt="">
                        </div>
                        <div class="name-and-ratings">
                            <p>Christina Louis</p>
                            <ul class="ratings">
                                <li class="circle"></li>
                                <li class="circle"></li>
                                <li class="circle"></li>
                                <li class="circle"></li>
                                <li class="half-circle">
                                    <div class="background-yellow"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="special-description">“ Great Books Collections ”</p>
                    <p class="normal-description">All the Lorem Ipsum generators on the Internet tend to repeat willings predefined chunks value.</p>
                </div>
            </div>
        </div>
    </div>
</section>