<div *ngIf="isShowDashboard" class="dashboard">
    <app-top-nav></app-top-nav>
    <app-sidebar></app-sidebar>
    <div *ngIf="!isPageProducts" class="dashboard-content-container">
        <div class="product-and-customer-container">
            <div class="container-left">
                <app-last-customer></app-last-customer>
            </div>
            <div class="container-right">
                <app-top-product></app-top-product>
            </div>
        </div>
        <div class="transaction-container">
            <app-transactions></app-transactions>
        </div>
        <!-- <input (change)="changeEventUploadImage($event)" type="file" accept="image/*"/> -->
    </div>
    <div *ngIf="isPageProducts" class="dashboard-content-container">
        <app-product-list></app-product-list>
    </div>
</div>
<app-login *ngIf="isShowDialogLogin" (e_close_popup)="clickEventCloseLoginPopup()"></app-login>