<div class="store">
    <div class="products-page">
        <section class="list-product">
            <div class="list-product-container container">
                <ul class="products">
                    <li *ngFor="let item of [].constructor(6)" class="product">
                        <div class="image-product">
                            <img src="assets/img/Book.png" alt="book">
                        </div>
                        <div class="name-and-price">
                            <h4 class="name">Atomic One’s</h4>
                            <p class="price">$23.89</p>
                        </div>
                        <p class="description">Many variations of passages of Lorem Ipsum willing araise  alteration in some form.</p>
                        <div class="tag-book">
                            <div class="circle"></div>
                            <h4>Printed Book</h4>
                        </div>
                        <button class="order-btn">Order Today</button>
                    </li>
                </ul>
            </div>
        </section>
        <app-read-free-chapter></app-read-free-chapter>
    </div>
</div>