<div class="store">
    <div class="products-page">
        <section class="list-product">
            <div class="list-product-container container">
                <ul class="products">
                    <li *ngFor="let item of books.slice(0, 6)" class="product">
                        <div class="image-product">
                            <img src={{item.images}} alt="book">
                        </div>
                        <div class="name-and-price">
                            <h4 class="name">{{item.name}}</h4>
                            <p class="price">${{item.price}}</p>
                        </div>
                        <p class="description">{{item.description.slice(0, 100)}}...</p>
                        <div class="tag-book">
                            <div class="circle"></div>
                            <h4>{{item.genres}}</h4>
                        </div>
                        <button [routerLink]="['../detail-product']" [queryParams]="{ query: item.id }" class="order-btn">Order Today</button>
                    </li>
                </ul>
            </div>
        </section>
        <app-read-free-chapter></app-read-free-chapter>
    </div>
</div>