<section class="top-product">
    <div class="top-product-container">
        <div class="top-product-title">
            Top products
        </div>
        <ul class="list-product-top">
            <li *ngFor="let product of products" class="product-top">
                <div class="container-left">
                    <div class="title-product">
                        {{product.name}}
                    </div>
                    <div class="framework-product">
                        {{product.isbn_10}}
                    </div>
                </div>
                <div class="container-right">
                    {{product.amount}} <p>total</p>
                </div>
            </li>
        </ul>
    </div>
</section>