<section class="order-now">
    <div class="order-now-container">
        <div class="container-left">
            <div class="content-container">
                <div #title_order_element class="title">
                    <h3>Get Book Copy Today!</h3>
                    <div class="line"></div>
                </div>
                <p #paragraph_order_element>This the first true value generator on the Internet. It uses alphas dictionary of over 200 Latin words.</p>
                <div #button_order_element class="order-btn">Order Today</div>
            </div>
        </div>
        <div #image_container_element class="container-right">
            <img src="assets/img/copy-and-book.png" alt="">
        </div>
    </div>
</section>