<section class="last-customer">
    <div class="last-customer-container">
        <div class="last-customer-title">
            Latest Customers
        </div>
        <ul class="last-user-list">
            <li *ngFor="let user of users" class="last-user">
                <div class="container-left">
                    <div class="avatar-container">
                        <img (error)="onLoadAvatarError($event)" src={{user.avatar}} alt="avatar user">
                    </div>
                    <div class="information-container">
                        <div class="name">
                            {{user.username}}
                        </div>
                        <div class="email">
                            {{user.email}}
                        </div>
                    </div>
                </div>
                <div class="container-right">
                    $0
                </div>
            </li>
        </ul>
    </div>
</section>