<section class="review-new-book">
    <div class="container">
        <app-topnav></app-topnav>
        <div class="about-book">
            <div class="container-left">
                <div #welcome_to_page_element class="welcome">
                    <div class="line"></div>
                    <p>Welcome to Pages</p>
                </div>
                <div #title_and_description_website_element class="title-and-description">
                    <h2>Books are uniquely porttable magic</h2>
                    <span class="description">There are many variations of passages of Lorem Ipsum available, but
                        the majority have suffered alteration in some form.</span>
                </div>
                <div #buttons_order_read_detail_element class="buttons-order-read-detail">
                    <button class="order-btn">Order Today</button>
                    <div class="read-detail-btn">
                        <p>Read Free Demo</p>
                        <div class="line"></div>
                    </div>
                </div>
                <div #parameter_element class="parameter">
                    <div class="pages parameter-child">
                        <div class="circle"></div>
                        <div class="title-and-info">
                            <h4>Pages:</h4>
                            <span>586 pages</span>
                        </div>
                    </div>
                    <div class="length parameter-child">
                        <div class="circle"></div>
                        <div class="title-and-info">
                            <h4>Length:</h4>
                            <span>10 Hours</span>
                        </div>
                    </div>
                    <div class="ratings parameter-child">
                        <div class="circle"></div>
                        <div class="title-and-info">
                            <h4>Ratings:</h4>
                            <span>4.5/5 (305 ratings)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-right">
                <div #image_book_container_element class="image-container">
                    <img src="assets/img/home/main-book.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>