<div class="detail-product-page">
    <section class="detail-product">
        <div class="detail-product-container">
            <div class="information-about-book">
                <div class="container-left">
                    <div class="image-book">
                        <img src="assets/img/Book.png" alt="book img">
                    </div>
                </div>
                <div class="container-right">
                    <div class="content-container">
                        <h4 class="title-book">The Atomic One’s</h4>
                        <p class="price">$30.00 USD</p>
                        <p class="description">Making this the first true generator on the Internet. It uses a
                            dictionary of over 200 Latin words, combined with a handful of model sentence structures, to
                            generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum.</p>
                    </div>
                    <ul class="parameters">
                        <li class="parameter">
                            <p class="name-parameter">Publisher</p>
                            <p class="two-dots">:</p>
                            <p class="info">Learning Private Limited (1 January 2021)</p>
                        </li>
                        <li class="parameter">
                            <p class="name-parameter">Language</p>
                            <p class="two-dots">:</p>
                            <p class="info">English</p>
                        </li>
                        <li class="parameter">
                            <p class="name-parameter">Paperback</p>
                            <p class="two-dots">:</p>
                            <p class="info">212 pages</p>
                        </li>
                        <li class="parameter">
                            <p class="name-parameter">ISBN-10</p>
                            <p class="two-dots">:</p>
                            <p class="info">9788120345799</p>
                        </li>
                        <li class="parameter">
                            <p class="name-parameter">Dimensions</p>
                            <p class="two-dots">:</p>
                            <p class="info">Learnin20 x 14 x 4 cm</p>
                        </li>
                    </ul>
                    <div class="add-cart-container">
                        <div class="input-number-book-order">
                            <div contenteditable="true">1</div>
                        </div>
                        <button class="add-cart-btn">
                            <svg width="22" height="23" viewBox="0 0 22 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1 1.14453H4.63636L7.07273 13.6416C7.15586 14.0713 7.38355 14.4572 7.71595 14.7319C8.04835 15.0067 8.46427 15.1526 8.89091 15.1442H17.7273C18.1539 15.1526 18.5698 15.0067 18.9022 14.7319C19.2346 14.4572 19.4623 14.0713 19.5455 13.6416L21 5.81108H5.54545M9 20.1445C9 20.6968 8.55228 21.1445 8 21.1445C7.44772 21.1445 7 20.6968 7 20.1445C7 19.5922 7.44772 19.1445 8 19.1445C8.55228 19.1445 9 19.5922 9 20.1445ZM20 20.1445C20 20.6968 19.5523 21.1445 19 21.1445C18.4477 21.1445 18 20.6968 18 20.1445C18 19.5922 18.4477 19.1445 19 19.1445C19.5523 19.1445 20 19.5922 20 20.1445Z"
                                    stroke="#1B3764" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <p>Add to Cart</p>
                        </button>
                    </div>
                </div>
            </div>
            <div class="more-information-about-book-container">
                <div class="nav-change-information">
                    <button class="button-left choice">Product Description</button>
                    <button class="button-right">Additional Info</button>
                </div>
                <div class="more-information">
                    <div class="container-left">
                        <h4 class="title">Do you offer discounts for education?</h4>
                        <p class="description">There are many variations of passages of Lorem Ipsum available, but the
                            majority have suffered alteration in some form, bypassed injected humour, or randomised
                            words which don't look even slightly believable.</p>
                    </div>
                    <div class="container-right">
                        <h4 class="title">Is this book for me?</h4>
                        <p class="description">If you are going to use a passage of Lorem Ipsum, you need to be sure
                            there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum
                            generators on the Internet tend to repeat predefined chunks as necessary.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="incentives">
        <div class="incentives-container">
            <ul class="list-incentives">
                <li class="incentive">
                    <div class="icon">
                        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.9232 12.0769L16.3346 23.1539L12.0769 18.9827" stroke="white" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M36.9224 6.57054C29.1841 5.18245 25.9847 4.15436 19.0001 1C12.0155 4.15436 8.81616 5.18245 1.07781 6.57054C-0.324127 28.7904 17.6657 36.463 19.0001 37.0004C20.3345 36.463 38.3243 28.7904 36.9224 6.57054Z"
                                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <h4 class="title-incentive">Secure Payments</h4>
                    <p class="description">There are many variations of passages of alteration in some form.</p>
                </li>
                <li class="incentive">
                    <div class="icon">
                        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.9232 12.0769L16.3346 23.1539L12.0769 18.9827" stroke="white" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M36.9224 6.57054C29.1841 5.18245 25.9847 4.15436 19.0001 1C12.0155 4.15436 8.81616 5.18245 1.07781 6.57054C-0.324127 28.7904 17.6657 36.463 19.0001 37.0004C20.3345 36.463 38.3243 28.7904 36.9224 6.57054Z"
                                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <h4 class="title-incentive">Secure Payments</h4>
                    <p class="description">There are many variations of passages of alteration in some form.</p>
                </li>
                <li class="incentive">
                    <div class="icon">
                        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.9232 12.0769L16.3346 23.1539L12.0769 18.9827" stroke="white" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M36.9224 6.57054C29.1841 5.18245 25.9847 4.15436 19.0001 1C12.0155 4.15436 8.81616 5.18245 1.07781 6.57054C-0.324127 28.7904 17.6657 36.463 19.0001 37.0004C20.3345 36.463 38.3243 28.7904 36.9224 6.57054Z"
                                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <h4 class="title-incentive">Secure Payments</h4>
                    <p class="description">There are many variations of passages of alteration in some form.</p>
                </li>
            </ul>
        </div>
    </section>
</div>