<div class="articles-page">
    <app-header [titlePage]="'Articles'"
        [descriptionPage]="'There are many variations of passages of Lorem Ipsum available,  have suffered alteration in some form.'"></app-header>
    <section class="articles">
        <div class="articles-container container">
            <ul class="article-list">
                <li class="article">
                    <div class="image-article-container">
                        <img src="assets/img/articles/article_1.png" alt="">
                    </div>
                    <div class="content-about-article">
                        <h4 class="title-article">The energy efficiency offers hydrotherapy or swim</h4>
                        <p class="description">The point of using Lorem Ipsum hiter of that using making it look like others readable will get end.</p>
                        <div class="end-article-footer">
                            <div class="container-left">
                                <p>Read more</p>
                                <div class="line"></div>
                            </div>
                            <div class="container-right">
                                <p class="author-and-create-at">Author - 23.05.2022</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="article">
                    <div class="image-article-container">
                        <img src="assets/img/articles/article_2.png" alt="">
                    </div>
                    <div class="content-about-article">
                        <h4 class="title-article">Release of Letraset sheets tools containing  passages</h4>
                        <p class="description">The point of using Lorem Ipsum hiter of that using making it look like others readable will get end.</p>
                        <div class="end-article-footer">
                            <div class="container-left">
                                <p>Read more</p>
                                <div class="line"></div>
                            </div>
                            <div class="container-right">
                                <p class="author-and-create-at">Author - 23.05.2022</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="article">
                    <div class="image-article-container">
                        <img src="assets/img/articles/article_3.png" alt="">
                    </div>
                    <div class="content-about-article">
                        <h4 class="title-article">The energy efficiency offers hydrotherapy or swim</h4>
                        <p class="description">The point of using Lorem Ipsum hiter of that using making it look like others readable will get end.</p>
                        <div class="end-article-footer">
                            <div class="container-left">
                                <p>Read more</p>
                                <div class="line"></div>
                            </div>
                            <div class="container-right">
                                <p class="author-and-create-at">Author - 23.05.2022</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="article">
                    <div class="image-article-container">
                        <img src="assets/img/articles/article_4.png" alt="">
                    </div>
                    <div class="content-about-article">
                        <h4 class="title-article">The energy efficiency offers hydrotherapy or swim</h4>
                        <p class="description">The point of using Lorem Ipsum hiter of that using making it look like others readable will get end.</p>
                        <div class="end-article-footer">
                            <div class="container-left">
                                <p>Read more</p>
                                <div class="line"></div>
                            </div>
                            <div class="container-right">
                                <p class="author-and-create-at">Author - 23.05.2022</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="article">
                    <div class="image-article-container">
                        <img src="assets/img/articles/article_5.png" alt="">
                    </div>
                    <div class="content-about-article">
                        <h4 class="title-article">The energy efficiency offers hydrotherapy or swim</h4>
                        <p class="description">The point of using Lorem Ipsum hiter of that using making it look like others readable will get end.</p>
                        <div class="end-article-footer">
                            <div class="container-left">
                                <p>Read more</p>
                                <div class="line"></div>
                            </div>
                            <div class="container-right">
                                <p class="author-and-create-at">Author - 23.05.2022</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="article">
                    <div class="image-article-container">
                        <img src="assets/img/articles/article_6.png" alt="">
                    </div>
                    <div class="content-about-article">
                        <h4 class="title-article">The energy efficiency offers hydrotherapy or swim</h4>
                        <p class="description">The point of using Lorem Ipsum hiter of that using making it look like others readable will get end.</p>
                        <div class="end-article-footer">
                            <div class="container-left">
                                <p>Read more</p>
                                <div class="line"></div>
                            </div>
                            <div class="container-right">
                                <p class="author-and-create-at">Author - 23.05.2022</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="article">
                    <div class="image-article-container">
                        <img src="assets/img/articles/article_1.png" alt="">
                    </div>
                    <div class="content-about-article">
                        <h4 class="title-article">The energy efficiency offers hydrotherapy or swim</h4>
                        <p class="description">The point of using Lorem Ipsum hiter of that using making it look like others readable will get end.</p>
                        <div class="end-article-footer">
                            <div class="container-left">
                                <p>Read more</p>
                                <div class="line"></div>
                            </div>
                            <div class="container-right">
                                <p class="author-and-create-at">Author - 23.05.2022</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="article">
                    <div class="image-article-container">
                        <img src="assets/img/articles/article_7.png" alt="">
                    </div>
                    <div class="content-about-article">
                        <h4 class="title-article">The energy efficiency offers hydrotherapy or swim</h4>
                        <p class="description">The point of using Lorem Ipsum hiter of that using making it look like others readable will get end.</p>
                        <div class="end-article-footer">
                            <div class="container-left">
                                <p>Read more</p>
                                <div class="line"></div>
                            </div>
                            <div class="container-right">
                                <p class="author-and-create-at">Author - 23.05.2022</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="article">
                    <div class="image-article-container">
                        <img src="assets/img/articles/article_8.png" alt="">
                    </div>
                    <div class="content-about-article">
                        <h4 class="title-article">The energy efficiency offers hydrotherapy or swim</h4>
                        <p class="description">The point of using Lorem Ipsum hiter of that using making it look like others readable will get end.</p>
                        <div class="end-article-footer">
                            <div class="container-left">
                                <p>Read more</p>
                                <div class="line"></div>
                            </div>
                            <div class="container-right">
                                <p class="author-and-create-at">Author - 23.05.2022</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <app-footer></app-footer>
</div>