<section class="about-owner">
    <div class="about-owner-container container">
        <div class="image-owner">
            <img src="assets/img/owner.png" alt="">
        </div>
        <div class="information-about-owner">
            <div class="container-left">
                <ul class="about-country">
                    <li>
                        <p class="title-info">Country :</p>
                        <p class="info">United Kingdom</p>
                    </li>
                    <li>
                        <p class="title-info">Language :</p>
                        <p class="info">English</p>
                    </li>
                    <li>
                        <p class="title-info">Genre :</p>
                        <p class="info">Historiography</p>
                    </li>
                    <li>
                        <p class="title-info">Publication date :</p>
                        <p class="info">1991</p>
                    </li>
                    <li>
                        <p class="title-info">Share us on :</p>
                        <p class="info">United Kingdom</p>
                    </li>
                </ul>
            </div>
            <div class="container-right">
                <div class="title">
                    <h3>About Dr. John Abraham</h3>
                    <div class="line"></div>
                </div>
                <p class="description">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, that can combined with a handful of model sentence structures.</p>
                <button class="contact-btn">Contact now</button>
            </div>
        </div>
    </div>
</section>