<section class="author-book" [ngClass]="{'white': backgroundColor === 'white', 'blue': backgroundColor === 'blue'}">
    <div class="author-book-content container">
        <h2 #title_section_author_book_element class="title">Author’s Book Includes</h2>
        <div #book_container_element class="books">
            <div class="container-left">
                <div class="about-first-book">
                    <app-icon-book-atomic-one></app-icon-book-atomic-one>
                    <div class="some-information-about-book">
                        <div class="container-about-book">
                            <h3 class="title-book">Atomic One's</h3>
                            <p>Many variations of passages of Lorem Ipsum willing araise  alteration in some form.</p>
                            <div class="parameter-book">
                                <div class="pages parameter-child">
                                    <div class="circle"></div>
                                    <div class="title-and-info">
                                        <h4>Pages:</h4>
                                        <span>586 pages</span>
                                    </div>
                                </div>
                                <div class="length parameter-child">
                                    <div class="circle"></div>
                                    <div class="title-and-info">
                                        <h4>Length:</h4>
                                        <span>10 Hours</span>
                                    </div>
                                </div>
                            </div>
                            <button class="order-btn">Order Today</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-right">
                <div class="about-another-book">
                    <app-icon-book-dark-light></app-icon-book-dark-light>
                    <div class="some-information-about-book">
                        <div class="container-about-book">
                            <h3 class="title-book">The Dark Light</h3>
                            <p>Many variations of passages of Lorem Ipsum willing araise  alteration in some form.</p>
                            <div class="parameter-book">
                                <div class="pages parameter-child">
                                    <div class="circle"></div>
                                    <div class="title-and-info">
                                        <h4>Pages:</h4>
                                        <span>586 pages</span>
                                    </div>
                                </div>
                                <div class="length parameter-child">
                                    <div class="circle"></div>
                                    <div class="title-and-info">
                                        <h4>Length:</h4>
                                        <span>10 Hours</span>
                                    </div>
                                </div>
                            </div>
                            <button class="order-btn">Order Today</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>