@import 'variables';
@import 'mixins';

.add-book-icon {
    position: fixed;
    bottom: 4rem;
    right: 4rem;

    width: 5rem;
    height: 5rem;

    border: 1px solid #DCE1E9;
    border-radius: 50%;

    cursor: pointer;

    &:before {
        content: "";

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        width: 3rem;
        height: 0.5rem;

        background-color: #a9adb3;
    }

    &:after {
        content: "";

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 3rem;
        height: 0.5rem;

        background-color: #a9adb3;
    }
}


.backdrop {
    @include backdrop;
    z-index: 1001;
}

.add-book-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1002;

    display: flex;
    align-items: center;
    justify-content: center;

    &>.add-book-container {

        width: 90%;

        height: 95vh;

        background-color: $white;

        &>.container-top {
            padding: 3.5rem 7.6rem;

            background-color: $light_yellow;

            display: flex;
            justify-content: space-between;
            align-items: center;

            & > h3 {
                @include font-cardo(5rem);
                font-weight: 700;
                letter-spacing: -0.02em;
                color: $primary_blue_color;
    
                width: fit-content;
    
                margin: unset;
            }

            & > svg {
                cursor: pointer;
            }
        }

        & > .container-bottom {
            padding: 4rem 7.6rem;

            & > form {
                & h4 {
                    @include font-cardo(2.4rem);
                    line-height: 5.2rem;
                    color: $primary_blue_color;
                }

                & .field-container {
                    display: flex;
                    align-items: center;
                    column-gap: 1.4rem;

                    border: 1px solid $border-blue-opacity;
                
                    padding: 0.5rem 2.1rem;

                    & > input {
                        @include font-inter(1.9rem);
                        color: $primary_blue_color;
                        line-height: 180%;
    
                        outline: unset;
                        border: unset;
    
                        height: 3.4rem;

                        width: 100%;
                        
                        &::placeholder {
                            @include font-inter(1.9rem);
                            color: $gray;
                            line-height: 180%;
                        }
                    }

                    & > .input-phone-number {
                        @include font-inter(1.9rem);
                        color: $primary_blue_color;
                        line-height: 180%;
                        
                        resize: none;
                        outline: unset;
                        border: none;
                        width: 100%;
                        height: 3.6rem;

                        position: relative;

                        &.placeholder:before {
                            content: attr(data-before);
                            position: absolute;
                            top: 0;
                            left: 0;

                            @include font-inter(1.9rem);
                            color: $gray;
                            line-height: 180%;
                        }
                    }
                }

                &.form-register {
                    display: flex;
                    column-gap: 2rem;
                    & > .container-one, & > .container-two, & > .container-three , & > .container-four{
                        flex: 1;
                    }
                }
            }

            & > button.login-button {
                @include button(2.2rem, $primary_blue_color, $white);

                width: 30rem;
                height: 6rem;

                margin: 5rem auto;

                display: block;

                transition: all 0.25s linear;

                &:hover {
                    background-color: $light_yellow;

                    color: $primary_blue_color;
                }
            }

            & > p.register-text {
                @include font-inter(1.6rem);
                color: $primary_blue_color;

                margin: 0 auto;

                display: block;

                width: fit-content;

                & > span {
                    font-weight: 600;

                    cursor: pointer;

                    transition: all 0.2s linear;

                    &:hover {
                        color: $light_yellow;
                    }
                }
            }

        }

    }
}

.store > .products-page > .search-product-container {
    margin: 1rem auto;
    
    width: 50rem;
    height: 5rem;

    border: 1px solid $border-blue-opacity;
    border-radius: 10rem;

    display: flex;
    align-items: center;

    padding: 0 1rem;

    & > input {
        margin-left: 1rem;

        @include font-inter(1.9rem);
        color: $primary_blue_color;
        line-height: 180%;

        border: none;
        outline: none;

        flex: 1;
    }
}

section.list-product {
    padding-top: 5rem;

    width: 100%;

    & > .list-product-container {
        & > ul.products {
            display: flex;
            column-gap: 2rem;
            row-gap: 2rem;
            flex-wrap: wrap;
            justify-content: center;

            & > li.product {
                width: 30.1rem;

                cursor: pointer;

                & > .image-product {
                    width: 100%;

                    display: grid;
                    place-content: center;

                    background-color: $background-opacity-blue;

                    & > img {
                        width: 19.2rem;
                        height: 29.6rem;
                    }
                }

                & > .name-and-price {
                    display: flex;
                    align-items: center;

                    margin-top: 2rem;

                    & > h4.name {
                        flex: 1;

                        @include font-cardo(2.2rem);
                        font-weight: 700;
                        color: $primary_blue_color;
                        text-align: start;
                    }

                    & > p.price {
                        @include font-inter(1.7rem);
                        line-height: 180%;
                        font-weight: 700;
                        color: $light_yellow;
                    }
                    
                }

                & > p.description {
                    @include description(1.9rem, $gray);

                    margin-top: 0.9rem;
                }

                & > .tag-book {
                    display: flex;
                    column-gap: 1.3rem;

                    margin-top: 2.4rem;

                    width: fit-content;

                    & > .circle {
                        @include circle(1.6rem);

                        background-color: $light_yellow;
                    }

                    & > h4 {
                        @include font-cardo(2.4rem);
                        font-weight: 700;
                        color: $primary_blue_color;
                    }
                }

                & > button.order-btn {
                    @include button(1.9rem, $white, $primary_blue_color);

                    border: 1px solid $light_yellow;

                    width: 22rem;

                    height: 6.5rem;

                    transition: all 0.25s linear;

                    display: block;
                    margin: 2.5rem auto;

                    &:hover {
                        background-color: $light_yellow;
                    }
                }


            }
        }
    }
}

@media only screen and (max-width: 433px) {
    section.list-product > .list-product-container > ul.products {
        & > li.product > .image-product > img {
            width: 100%;
        }
    }
}