<section class="read-free-chapter">
    <div #read_free_chapter_container_element class="read-free-chapter-container">
        <div class="content-container">
            <div class="title">
                <h3>Read a free chapter</h3>
                <div class="line"></div>
            </div>
            <p class="description">Making this the first true value generator on the Internet. It of over 200 Latin words, combined with a handful.</p>
            <div class="submit-email-container">
                <input placeholder="Your Email id..." type="text" class="input-email" name="email">
                <button class="subscribe-button">Subscribe</button>
            </div>
        </div>
    </div>
</section>