<section class="trademark">
    <div class="trademark-container container">
        <div #title_element class="title">
            <h3>Trusted by the Best</h3>
            <div class="line"></div>
        </div>
        <ul #menu_trademark_element class="menu-trademark">
            <li class="trademark">
                <div class="logo">
                    <img src="assets/img/trademark1.png" alt="">
                </div>
                <h3 class="name-trademark">Amazen Corp</h3>
                <p class="about-trademark">A long established fact that a who looking at its layout.</p>
            </li>
            <li class="trademark">
                <div class="logo">
                    <img src="assets/img/trademark2.png" alt="">
                </div>
                <h3 class="name-trademark">Megan Books</h3>
                <p class="about-trademark">A long established fact that a who looking at its layout.</p>
            </li>
            <li class="trademark">
                <div class="logo">
                    <img src="assets/img/trademark3.png" alt="">
                </div>
                <h3 class="name-trademark">Los Books</h3>
                <p class="about-trademark">A long established fact that a who looking at its layout.</p>
            </li>
            <li class="trademark">
                <div class="logo">
                    <img src="assets/img/trademark4.png" alt="">
                </div>
                <h3 class="name-trademark">Urban Lib</h3>
                <p class="about-trademark">A long established fact that a who looking at its layout.</p>
            </li>
        </ul>
    </div>
</section>