@import 'variables';
@import 'mixins';

section.trademark {
    padding-top: 13.1rem;
    padding-bottom: 14.1rem;

    background-color: $white;

    display: grid;
    place-content: center;

    & > .trademark-container {

        & > ul.menu-trademark{
            display: flex;
            justify-content: space-between;
    
            margin-top: 4rem;
    
            & > li.trademark {
                width: 25rem;

                & > .logo {
                    display: grid;
                    place-content: center;

                    transform: translateY(1rem);
                    opacity: 0;

                    transition: all 0.25s linear;

                    &.active {
                        transform: translateY(0);
                        opacity: 1;
                    }

                    & > img {
                        height: 88.98px;
                    }
                }

                & > h3.name-trademark {
                    @include font-cardo(2.4rem);
    
                    color: $primary_blue_color;
    
                    height: 2.9rem;
    
                    width: fit-content;
    
                    display: grid;
                    place-content: center;
    
                    margin: 0 auto;
                    margin-top: 28.54px;

                    transform: translateY(1rem);
                    opacity: 0;

                    transition: all 0.25s linear;

                    &.active {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }

                & > p.about-trademark {
                    @include font-inter(1.8rem);
                    color: $gray;
                    line-height: 170%;

                    margin-top: 9.47px;

                    text-align: center;

                    transform: translateY(1rem);
                    opacity: 0;

                    transition: all 0.25s linear;

                    &.active {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }
        }

        & > .title {
            & > h3 {
                transform: translateY(1rem);
                opacity: 0;

                transition: all 0.25s linear;

                &.active {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            & > .line {
                transform: scaleX(0);
                transform-origin: center center;

                transition: all 0.25s linear;

                &.active {
                    transform: scaleX(1);
                }
            }
        }
    }

}

@media only screen and (max-width: 1125px) {
    section.trademark > .trademark-container > ul.menu-trademark {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 4rem;
    }
}