<header class="dashboard2-topnav">
    <div class="dashboard2-topnav-container">
        <div class="container-left">
            <div class="logo-container">
                <img src="assets\img\dashboard2\topnav/Logo.png" alt="logo">
            </div>
        </div>
        <div class="container-center">
            <div class="search-container">
                <input type="text" placeholder="Search" />
                <img src="assets\img\dashboard2\topnav/search.png" alt="">
            </div>
        </div>
        <div class="container-right">
            <div class="profile-container">

            </div>
        </div>
    </div>
</header>