<div class="change-log-page">
    <app-header [titlePage]="'Changelog'"
        [descriptionPage]="'There are many variations of passages of Lorem Ipsum available,  have suffered alteration in some form.'"></app-header>
    <section class="change-log">
        <div class="change-log-container">
            <div class="circle">
                <h3>V.1</h3>
            </div>
            <p class="description">Initial Pages Webflow Template Release</p>
        </div>
    </section>
    <app-footer></app-footer>
</div>