<section class="articles-and-resources">
    <div class="articles-and-resources-container container">
        <div #title_element class="title">
            <h3>Articles & Resources</h3>
            <div class="line"></div>
        </div>
        <ul #articles_resources_element class="list-card">
            <li class="card">
                <div class="image-card-container">
                    <img src="assets/img/card-articles1.png" alt="">
                </div>
                <div class="content-about-card">
                    <h4 class="title-card">The energy efficiency offers hydrotherapy or swim</h4>
                    <p class="description">The point of using Lorem Ipsum hiter of that using making it look like others readable will get end.</p>
                    <div class="end-card-footer">
                        <div class="container-left">
                            <p>Read more</p>
                            <div class="line"></div>
                        </div>
                        <div class="container-right">
                            <p class="author-and-create-at">Author - 23.05.2022</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card">
                <div class="image-card-container">
                    <img src="assets/img/card-articles2.png" alt="">
                </div>
                <div class="content-about-card">
                    <h4 class="title-card">Release of Letraset sheets tools containing  passages</h4>
                    <p class="description">The point of using Lorem Ipsum hiter of that using making it look like others readable will get end.</p>
                    <div class="end-card-footer">
                        <div class="container-left">
                            <p>Read more</p>
                            <div class="line"></div>
                        </div>
                        <div class="container-right">
                            <p class="author-and-create-at">Author - 23.05.2022</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="card">
                <div class="image-card-container">
                    <img src="assets/img/card-articles3.png" alt="">
                </div>
                <div class="content-about-card">
                    <h4 class="title-card">The energy efficiency offers hydrotherapy or swim</h4>
                    <p class="description">The point of using Lorem Ipsum hiter of that using making it look like others readable will get end.</p>
                    <div class="end-card-footer">
                        <div class="container-left">
                            <p>Read more</p>
                            <div class="line"></div>
                        </div>
                        <div class="container-right">
                            <p class="author-and-create-at">Author - 23.05.2022</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>