<div class="home">
    <app-review-new-book></app-review-new-book>
    <!-- <app-review-two-book></app-review-two-book>
    <section class="about-author">
        <div class="about-author-container container">
            <div class="container-left">
                <app-icon-author></app-icon-author>
            </div>
            <div class="container-right">
                <div class="container-about-author">
                    <div class="title">
                        <h3>About Author</h3>
                        <div class="line"></div>
                    </div>
                    <p class="desc">All the Lorem Ipsum generators on the Internet tend to repeated predefined chunks as necessary, making this the first true value generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful.</p>
                    <div class="parameter">
                        <div class="books-published parameter-child">
                            <h3>02</h3>
                            <p>Books Published</p>
                        </div>
                        <div class="user-reviews parameter-child">
                            <h3>4.5</h3>
                            <p>User Reviews</p>
                        </div>
                        <div class="best-seller-awards parameter-child">
                            <h3>04</h3>
                            <p>Best Seller Awards</p>
                        </div>
                    </div>
                    <div class="qr-code">
                        <app-icon-qr></app-icon-qr>
                        <div class="container-right">
                            <h3 class="title">John Abraham , Ph.d</h3>
                            <p>Mail : johnabraham@gmail.com</p>
                            <p>Phone : (+2) 123 545 9000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-trademark></app-trademark>
    <section class="order-now">
        <div class="order-now-container">
            <div class="container-left">
                <div class="content-container">
                    <div class="title">
                        <h3>Get Book Copy Today!</h3>
                        <div class="line"></div>
                    </div>
                    <p>This the first true value generator on the Internet. It uses alphas dictionary of over 200 Latin words.</p>
                    <div class="order-btn">Order Today</div>
                </div>
            </div>
            <div class="container-right">
                <img src="assets/img/copy-and-book.png" alt="">
            </div>
        </div>
    </section>
    <section class="what-learn">
        <div class="what-learn-container">
            <div class="title">
                <h3>What will you learn?</h3>
                <div class="line"></div>
            </div>
            <div class="information-about-learner">
                <div class="container-left">
                    <ul class="list-item-can-learn">
                        <li>
                            <div class="icon">01</div>
                            <p class="description">Use HDFS & Map Reduce for storing & analyzing data at scale.</p>
                        </li>
                        <li>
                            <div class="icon">02</div>
                            <p class="description">Consume streaming data using Spark Streaming, Flink, and Storm.</p>
                        </li>
                        <li>
                            <div class="icon">03</div>
                            <p class="description">Choose an appropriate data storage technology for your application</p>
                        </li>
                        <li>
                            <div class="icon">04</div>
                            <p class="description">Analyze non-relational data using HBase, Cassandra, and MongoDB.</p>
                        </li>
                    </ul>
                </div>
                <div class="container-right">
                    <img src="assets/img/learner.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="chapter-includes">
        <div class="chapter-includes-container">
            <div class="title">
                <h3>The Chapter Includes</h3>
                <div class="line"></div>
            </div>
            <ul class="chapter-list">
                <li>
                    <h4 class="title-chapter">Chapter- 01   Get Started Intro</h4>
                    <p class="description-chapter">Making this the first true value generator on the Internet. It of over 200 Latin words, combined with a handful.</p>
                    <div class="parameter-chapter">
                        <div class="pages">
                            <div class="circle"></div>
                            <h5>Pages :&nbsp;</h5>
                            <p>85 pages</p>
                        </div>
                        <div class="length">
                            <div class="circle"></div>
                            <h5>Length :&nbsp;</h5>
                            <p>1 Hour 15 mins</p>
                        </div>
                    </div>
                </li>
                <li>
                    <h4 class="title-chapter">Chapter- 02   Create a Massive Content</h4>
                    <p class="description-chapter">Making this the first true value generator on the Internet. It of over 200 Latin words, combined with a handful.</p>
                    <div class="parameter-chapter">
                        <div class="pages">
                            <div class="circle"></div>
                            <h5>Pages :&nbsp;</h5>
                            <p>85 pages</p>
                        </div>
                        <div class="length">
                            <div class="circle"></div>
                            <h5>Length :&nbsp;</h5>
                            <p>1 Hour 15 mins</p>
                        </div>
                    </div>
                </li>
                <li>
                    <h4 class="title-chapter">Chapter- 03   Maintaining the Creative Arcs</h4>
                    <p class="description-chapter">Making this the first true value generator on the Internet. It of over 200 Latin words, combined with a handful.</p>
                    <div class="parameter-chapter">
                        <div class="pages">
                            <div class="circle"></div>
                            <h5>Pages :&nbsp;</h5>
                            <p>85 pages</p>
                        </div>
                        <div class="length">
                            <div class="circle"></div>
                            <h5>Length :&nbsp;</h5>
                            <p>1 Hour 15 mins</p>
                        </div>
                    </div>
                </li>
                <li>
                    <h4 class="title-chapter">Chapter- 04   The Conclusion</h4>
                    <p class="description-chapter">Making this the first true value generator on the Internet. It of over 200 Latin words, combined with a handful.</p>
                    <div class="parameter-chapter">
                        <div class="pages">
                            <div class="circle"></div>
                            <h5>Pages :&nbsp;</h5>
                            <p>85 pages</p>
                        </div>
                        <div class="length">
                            <div class="circle"></div>
                            <h5>Length :&nbsp;</h5>
                            <p>1 Hour 15 mins</p>
                        </div>
                    </div>
                </li>
            </ul>
            <button class="free-trail-btn">
                Start a 15-Days Free Trail
            </button>
            <div class="question">
                <p>Short description about each chapter <span>Have any questions?</span> Contact us</p>
            </div>
        </div>
    </section>
    <section class="what-reader-say">
        <div class="what-reader-say-container container">
            <div class="container-left">
                <div class="container-child">
                    <div class="title">
                        <h3>What Readers Say About the Book</h3>
                        <div class="line"></div>
                    </div>
                    <p class="description">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators.</p>
                    <div class="ratings">
                        <ul class="list-star">
                            <li class="circle"></li>
                            <li class="circle"></li>
                            <li class="circle"></li>
                            <li class="circle"></li>
                            <li class="half-circle">
                                <div class="background-yellow"></div>
                            </li>
                            <li class="averate">
                                (4.8/5)
                            </li>
                        </ul>
                        <p>Overall Customer Ratings</p>
                    </div>
                </div>
            </div>
            <div class="container-right">
                <div class="cards-left">
                    <div class="card">
                        <div class="name-and-avatar">
                            <div class="avatar">
                                <img src="assets/img/avatar1.png" alt="">
                            </div>
                            <div class="name-and-ratings">
                                <p>Martin Philips</p>
                                <ul class="ratings">
                                    <li class="circle"></li>
                                    <li class="circle"></li>
                                    <li class="circle"></li>
                                    <li class="circle"></li>
                                    <li class="half-circle">
                                        <div class="background-yellow"></div>
                                    </li>
                                </ul>
                            </div>s
                        </div>
                        <p class="special-description">“ Awesome Impact ”</p>
                        <p class="normal-description">All the Lorem Ipsum generators on the Internet tend to repeat willings predefined chunks value.</p>
                    </div>
                    <div class="card">
                        <div class="name-and-avatar">
                            <div class="avatar">
                                <img src="assets/img/avatar2.png" alt="">
                            </div>
                            <div class="name-and-ratings">
                                <p>James Anderson</p>
                                <ul class="ratings">
                                    <li class="circle"></li>
                                    <li class="circle"></li>
                                    <li class="circle"></li>
                                    <li class="circle"></li>
                                    <li class="half-circle">
                                        <div class="background-yellow"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="special-description">“ Mind Blowing Words ”</p>
                        <p class="normal-description">All the Lorem Ipsum generators on the Internet tend to repeat willings predefined chunks value.</p>
                    </div>
                </div>
                <div class="card-right">
                    <div class="card">
                        <div class="name-and-avatar">
                            <div class="avatar">
                                <img src="assets/img/avatar3.png" alt="">
                            </div>
                            <div class="name-and-ratings">
                                <p>Christina Louis</p>
                                <ul class="ratings">
                                    <li class="circle"></li>
                                    <li class="circle"></li>
                                    <li class="circle"></li>
                                    <li class="circle"></li>
                                    <li class="half-circle">
                                        <div class="background-yellow"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="special-description">“ Great Books Collections ”</p>
                        <p class="normal-description">All the Lorem Ipsum generators on the Internet tend to repeat willings predefined chunks value.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="articles-and-resources">
        <div class="articles-and-resources-container">
            <div class="title">
                <h3>Articles & Resources</h3>
                <div class="line"></div>
            </div>
            <ul class="list-card">
                <li class="card">
                    <div class="image-card-container">
                        <img src="assets/img/card-articles1.png" alt="">
                    </div>
                    <div class="content-about-card">
                        <h4 class="title-card">The energy efficiency offers hydrotherapy or swim</h4>
                        <p class="description">The point of using Lorem Ipsum hiter of that using making it look like others readable will get end.</p>
                        <div class="end-card-footer">
                            <div class="container-left">
                                <p>Read more</p>
                                <div class="line"></div>
                            </div>
                            <div class="container-right">
                                <p class="author-and-create-at">Author - 23.05.2022</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="image-card-container">
                        <img src="assets/img/card-articles2.png" alt="">
                    </div>
                    <div class="content-about-card">
                        <h4 class="title-card">Release of Letraset sheets tools containing  passages</h4>
                        <p class="description">The point of using Lorem Ipsum hiter of that using making it look like others readable will get end.</p>
                        <div class="end-card-footer">
                            <div class="container-left">
                                <p>Read more</p>
                                <div class="line"></div>
                            </div>
                            <div class="container-right">
                                <p class="author-and-create-at">Author - 23.05.2022</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="image-card-container">
                        <img src="assets/img/card-articles3.png" alt="">
                    </div>
                    <div class="content-about-card">
                        <h4 class="title-card">The energy efficiency offers hydrotherapy or swim</h4>
                        <p class="description">The point of using Lorem Ipsum hiter of that using making it look like others readable will get end.</p>
                        <div class="end-card-footer">
                            <div class="container-left">
                                <p>Read more</p>
                                <div class="line"></div>
                            </div>
                            <div class="container-right">
                                <p class="author-and-create-at">Author - 23.05.2022</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <app-read-free-chapter></app-read-free-chapter>
    <app-footer></app-footer> -->
</div>