<div class="home">
    <!-- <app-review-new-book></app-review-new-book>
    <app-review-two-book></app-review-two-book>
    <app-about-author></app-about-author>
    <app-trademark></app-trademark>
    <app-order-now></app-order-now>
    <app-what-learn></app-what-learn>
    <app-chapter-includes></app-chapter-includes> -->
    <!-- <app-what-reader-say></app-what-reader-say> -->
    <app-articles-and-resources></app-articles-and-resources>
    <!-- <app-read-free-chapter></app-read-free-chapter>
    <app-footer></app-footer> -->
</div>