@import 'variables';
@import 'mixins';

section.what-learn {
    height: 110.8rem;

    display: grid;
    place-content: center;

    & > .what-learn-container {
        width: 130rem;

        height: 81.9rem;

        & > .information-about-learner {
            display: flex;

            margin-top: 5.3rem;

            & > .container-left {
                flex: 1;

                display: flex;
                align-items: center;

                & > ul.list-item-can-learn {
                    width: 100%;
                    max-width: 61.1rem;

                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 3rem;
                    row-gap: 3.2rem;

                    & > li {
                        width: 29rem;

                        padding: 4.1rem 3.3rem;

                        background-color: $background-opacity-blue;

                        & > .icon {
                            @include circle(5rem);
                            
                            background-color: $light_yellow;

                            display: grid;
                            place-content: center;

                            @include font-cardo(2.4rem);
                            color: $primary_blue_color;
                        }

                        & > p.description {
                            @include font-cardo(2.4rem);
                            line-height: 140%;
                            color: $primary_blue_color;
                            
                            margin-top: 3.1rem;
                        }
                    }
                }
            }
        }
    }
}

section.chapter-includes {
    height: 120rem;

    background-color: $background-opacity-blue;

    display: grid;
    place-content: center;

    & > .chapter-includes-container {
        width: 130rem;

        & > ul.chapter-list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 4rem;
            row-gap: 4rem;

            margin-top: 5rem;

            & > li {
                background-color: $white;

                padding: 4.8rem 5.4rem;

                max-width: 63rem;

                & > h4.title-chapter {
                    @include font-cardo(2.4rem);

                    color: $primary_blue_color;

                    width: fit-content;

                    height: 2.9rem;
                }

                & > p.description-chapter {
                    margin-top: 1.4rem;

                    @include font-inter(1.9rem);
                    color: $gray;
                    line-height: 180%;
                }

                & > .parameter-chapter {
                    margin-top: 2.5rem;

                    display: flex;
                    column-gap: 1.6rem;

                    & > div {
                        display: flex;
                        align-items: center;

                        & > .circle {
                            @include circle(1.6rem);

                            background-color: $light_yellow;

                            margin-right: 1.3rem;
                        }

                        & > h5 {
                            @include font-cardo(2.2rem);
                            color: $primary_blue_color;
                        }

                        & > p {
                            @include font-inter(1.8rem);
                            line-height: 170%;
                            color: $gray;
                        }
                    }
                }
            }
        }

        & > button.free-trail-btn {
            @include button(19px, $light_yellow, $primary_blue_color);
            
            width: 43.4rem;
            height: 6.8rem;

            display: grid;
            place-content: center;

            border: none;
            outline: none;

            margin: 0 auto;
            margin-top: 7.9rem;
        }

        & > .question {
            margin: 0 auto;

            width: fit-content;

            margin-top: 3.2rem;

            & > p {
                max-width: 27rem;

                @include font-inter(1.8rem);
                color: $gray;
                line-height: 170%;
    
                & > span {
                    color: $primary_blue_color;
    
                    text-decoration: underline;
                }
            }
        }
    }
}

section.what-reader-say {
    height: 92.7rem;

    background-color: $white;

    display: grid;
    place-content: center;

    & > .what-reader-say-container {
        display: flex;

        & > .container-left {
            flex: 1;

            display: flex;
            align-items: center;

            & > .container-child {
                width: 41.8rem;

                & > .title {
                    max-width: 32.6rem;

                    margin: unset;

                    & > h3 {
                        margin-bottom: 2.7rem;

                        height: unset;
                    }

                    & > .line {
                        width: 49.26px;

                        margin: unset;
                    }
                }

                & > p.description {
                    @include font-inter(1.9rem);
                    line-height: 180%;
                    color: $gray;

                    margin-top: 2.9rem;
                }

                & > .ratings {
                    margin-top: 4.6rem;

                    & > ul {
                        display: flex;
                        align-items: center;
                        column-gap: 0.5rem;

                        & > li.circle {
                            @include circle(2rem);
                            
                            background-color: $light_yellow;
                        }

                        & > li.half-circle {
                            @include circle(2rem);
                            
                            overflow: hidden;

                            border: 1px solid $light_yellow;

                            & > .background-yellow {
                                width: 50%;
                                height: 100%;

                                background-color: $light_yellow;
                            }
                        }

                        & > li.averate {
                            @include font-cardo(2.2rem);
                            font-weight: 700;
                            color: $primary_blue_color;
                        }
                    }

                    & > p {
                        @include font-inter(1.9rem);
                        line-height: 180%;
                        color: $primary_blue_color;

                        margin-top: 0.6rem;
                    }
                }
            }
        }

        & > .container-right {
            width: 77rem;

            display: flex;
            column-gap: 3rem;

            & > div > .card {
                padding: 3.6rem 3.1rem;

                background-color: $primary_blue_color;

                max-width: 37rem;
                
                & > .name-and-avatar {
                    display: flex;
                    column-gap: 2rem;

                    & > .name-and-ratings {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        
                        & > p {
                            @include font-cardo(2.4rem);
                            font-weight: 700;
                            color: $white;

                            margin-bottom: 0.8rem;
                        }

                        & > .ratings {
                            display: flex;
                            align-items: center;
                            column-gap: 0.5rem;
    
                            & > li.circle {
                                @include circle(12.67px);
                                
                                background-color: $light_yellow;
                            }
    
                            & > li.half-circle {
                                @include circle(12.67px);
                                
                                overflow: hidden;
    
                                border: 1px solid $light_yellow;
    
                                & > .background-yellow {
                                    width: 50%;
                                    height: 100%;
    
                                    background-color: $light_yellow;
                                }
                            }

                        }
                    }
                }

                & > p.special-description {
                    @include font-cardo(2.2rem);
                    color: $white;
                    font-weight: 700;

                    margin-top: 2.2rem;
                }

                & > p.normal-description {
                    margin-top: 1.2rem;

                    @include font-inter(1.9rem);
                    line-height: 180%;
                    color: $primary_blue_color_opacity_low;
                }
            }

            & > .cards-left {
                display: flex;
                flex-direction: column;
                row-gap: 3.1rem;
            }

            & > .card-right {
                margin-top: 21rem;
            }
        }
    }
}

section.articles-and-resources {
    height: 101.6rem;

    background-color: $background-opacity-blue;

    display: grid;
    place-content: center;

    & > .articles-and-resources-container {
        width: 130rem;

        & > ul.list-card {
            margin-top: 5rem;

            display: flex;
            column-gap: 3.5rem;

            & > li.card {
                height: 60rem;
                
                width: 41rem;

                & > .image-card-container {
                    width: 100%;

                    height: 32.6rem;

                    & > img {
                        width: 100%;
                        height: 100%;
                    }
                }

                & > .content-about-card {
                    padding: 2.7rem 3.15rem;

                    & > h4.title-card {
                        width: fit-content;

                        @include font-cardo(2.4rem);
                        color: $primary_blue_color;
                        font-weight: 700;
                        letter-spacing: -0.02em;
                    
                    }

                    & > p.description {
                        @include font-inter(1.9rem);
                        line-height: 180%;
                        color: $gray;

                        margin-top: 1.4rem;
                    }

                    & > .end-card-footer {
                        margin-top: 2.7rem;

                        display: flex;

                        & > .container-left {
                            width: fit-content;

                            & > p {
                                @include font-cardo(1.8rem);
                                line-height: 125%;
                                font-weight: 700;
                                color: $primary_blue_color;
                            }

                            & > .line {
                                width: 100%;

                                height: 0;

                                border: 1px solid $primary_blue_color;
                            }
                        }

                        & > .container-right {
                            flex: 1;

                            display: flex;
                            justify-content: flex-end;
                            & > p.author-and-create-at {
                                @include font-inter(1.7rem);
                                line-height: 125%;
                                letter-spacing: unset;
                                color: $primary_blue_color;
                            }
                        }
                    }
                }
            }
        }
    }
}