<div class="licenses-page">
    <app-header [titlePage]="'Licenses'"
        [descriptionPage]="'There are many variations of passages of Lorem Ipsum available,  have suffered alteration in some form.'"></app-header>
    <section class="licenses">
        <div class="licenses-container">
            <div class="photography-container">
                <h3 class="title-photography">Photography</h3>
                <p class="description">All images used in the <span>Pages</span> Webflow Template are licensed for free personal and commercial use. If you'd like to use any specific image, you can check the licenses and download the images for free on <span>Unsplash, Pexels.</span></p>
            </div>
            <div class="style-guide-container">
                <div class="pexels-container">
                    <h4 class="pexels-title">Pexels:</h4>
                    <p class="pexels-parameter">Image 1, Image 2, Image 3, Image 4, Image 5, Image 6, Image 7, Image 8</p>
                </div>
                <div class="unsplash-container">
                    <h4 class="unsplash-title">Unsplash:</h4>
                    <p class="unsplash-parameter">Image 1, Image 2, Image 3</p>
                </div>
                <div class="fonts-container">
                    <h4 class="fonts-title">Fonts:</h4>
                    <p class="fonts-parameter">Pages template uses free licensed <span>Google Fonts.</span> Please check <span>Cardo</span> and <span>Inter.</span></p>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>