@import 'variables';
@import 'mixins';

section.about-author {
    width: 100%;

    padding: 15rem 0;

    background-color: $background-opacity-blue;

    display: grid;
    place-content: center;

    & > .about-author-container {
        display: flex;

        & > .container-left {
            & > .image-container {
                width: 59rem;
                height: 69rem;
            
                overflow: hidden;

                opacity: 0;
                transform: translateY(3rem);

                transition: all 0.75s linear;
            
                & > img {
                    object-position: -25px;
            
                    width: 100%;
                    height: 100%;
                }

                &.active {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        & > .container-right {
            flex: 1;
            & > .container-about-author {
                max-width: 567.78px;
                width: 100%;

                margin-left: auto;

                & > .desc {
                    margin-top: 2.2rem;
                    margin-bottom: 4.4rem;

                    @include font-inter(19px);
                    color: $gray;
                    line-height: 180%;

                    transform: translateY(1.5rem);
                    opacity: 0;

                    transition: all 0.25s linear;

                    &.active {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }

                & > .parameter {
                    display: flex;

                    height: 9.7rem;

                    transform: translateY(1.5rem);
                    opacity: 0;

                    transition: all 0.25s linear;

                    &.active {
                        transform: translateY(0);
                        opacity: 1;
                    }

                    & > div {
                        & > h3 {
                            @include font-cardo(5.5rem);
                            color: $primary_blue_color;

                            height: 6.6rem;

                            display: grid;
                            place-content: center;

                            width: fit-content;
                        }

                        & > p {
                            height: 3.1rem;

                            display: grid;
                            place-content: center;

                            @include font-inter(1.8rem);
                            line-height: 170%;
                            color: $gray;

                            width: fit-content;
                        }
                    }

                    & > .books-published {
                        width: 17.1rem;

                        border-right: 2px solid $light_yellow;
                    }

                    & > .user-reviews {
                        width: 18.2rem;

                        border-right: 2px solid $light_yellow;

                        display: grid;
                        place-content: center;
                    }

                    & > .best-seller-awards {
                        width: 214.78px;

                        padding-left: 3.2rem;
                    }
                }

                & > .qr-code {
                    margin-top: 4.1rem;

                    width: 47.7rem;
                    height: 16rem;

                    padding: 1.5rem 1.8rem;

                    background-color: $primary_blue_color;

                    display: flex;
                    column-gap: 3.7rem;

                    transform: translateY(1.5rem);
                    opacity: 0;

                    transition: all 0.25s linear;

                    &.active {
                        transform: translateY(0);
                        opacity: 1;
                    }

                    & > .container-right {

                        margin: 14.5px 0;

                        & > h3 {
                            @include font-cardo(2.2rem);
                            color: $light_yellow;
                        }

                        & > p {
                            @include font-inter(1.9rem);
                            line-height: 180%;
                            color: $primary_blue_color_opacity_low;
                        }
                    }
                }

                & > .title {
                    & > h3 {
                        transform: translateY(1rem);
                        opacity: 0;

                        transition: all 0.25s linear;

                        &.active {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }

                    & > .line {
                        transform: scaleX(0);
                        transform-origin: center center;

                        transition: all 0.25s linear;

                        &.active {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1350px) {
    section.about-author > .about-author-container {
        flex-direction: column;
        align-items: center;

        & > .container-right > .container-about-author {
            & > .desc {
                text-align: center;
            }

            & > .qr-code {
                margin: 0 auto;
                margin-top: 4.1rem;
            }
        }
    }
}

@media only screen and (max-width: 710px) {
    section.about-author > .about-author-container {
        & > .container-left > .image-container {
            width: 100%;

            height: auto;

            overflow: hidden;
            
            margin: 0 auto;

            & > img {
                object-position: unset;
            }
        }

        & > .container-right > .container-about-author {
            & > .qr-code {
                flex-direction: column;
                align-items: center;

                height: auto;

                width: auto;
            }

            & > .parameter {
                display: none;
            }
        }
    }
}