<section class="about-author">
    <div class="about-author-container container">
        <div class="container-left">
            <app-icon-author></app-icon-author>
        </div>
        <div class="container-right">
            <div class="container-about-author">
                <div class="title">
                    <h3>About Author</h3>
                    <div class="line"></div>
                </div>
                <p class="desc">All the Lorem Ipsum generators on the Internet tend to repeated predefined chunks as necessary, making this the first true value generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful.</p>
                <div class="parameter">
                    <div class="books-published parameter-child">
                        <h3>02</h3>
                        <p>Books Published</p>
                    </div>
                    <div class="user-reviews parameter-child">
                        <h3>4.5</h3>
                        <p>User Reviews</p>
                    </div>
                    <div class="best-seller-awards parameter-child">
                        <h3>04</h3>
                        <p>Best Seller Awards</p>
                    </div>
                </div>
                <div class="qr-code">
                    <app-icon-qr></app-icon-qr>
                    <div class="container-right">
                        <h3 class="title">John Abraham , Ph.d</h3>
                        <p>Mail : johnabraham@gmail.com</p>
                        <p>Phone : (+2) 123 545 9000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>